@mixin button_big($textColor: $primary-color, $backgroundColor:$orange-color){
    display: inline-block;
    width: fit-content;
    padding: 1.3rem 3rem;
    border-radius: 1.8rem;
    background: $backgroundColor;
    color: $textColor;
    cursor: pointer;
    transform: all 400ms ease;
    font-weight: 800;

    &:hover{
        background: lighten($backgroundColor, 8%);
        box-shadow: 0 1rem 1.6rem rgb($darkgray-color, 0.15);
    }
}


@mixin button($textColor: $primary-color, $backgroundColor:$orange-color){
    display: inline-block;
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 1.8rem;
    background: $backgroundColor;
    color: $textColor;
    cursor: pointer;
    transform: all 400ms ease;
    font-weight: 800;

    &:hover{
        background: lighten($backgroundColor, 8%);
        box-shadow: 0 1rem 1.6rem rgb($darkgray-color, 0.15);
    }
}

@mixin button_vdetail($textColor: $orange-color, $backgroundColor:$white-color){
    display: inline-block;
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 1.8rem;
    border: 1px solid $orange-color;
    background: $backgroundColor;
    color: $textColor;
    cursor: pointer;
    transform: all 400ms ease;
    font-weight: 800;

    &:hover{
        background: lighten($backgroundColor, 8%);
        box-shadow: 0 1rem 1.6rem rgb($darkgray-color, 0.15);
    }
}
