nav
{
    width: 100%;
    height: 5rem;
    position: fixed;
    z-index: 10;
    display: grid;
    place-items: center;
    
    .container{
        background-color: $white-color;
        border: 1px solid $gray-color;
        background: lighten($white-color, 8%);
        box-shadow: 0 1rem 1.6rem rgb($darkgray-color, 0.01);
        height: 5rem;
        align-items: center;

        display: flex;
        justify-content: space-between;

        .nav_logo{
            padding-left: 1.3rem;
            align-items: center;
            img{
                height: 69px;
                width: 173px;
            }
        }

        ul{
            padding-right: 2rem;
            display: flex;
            gap: 2rem;
        }

        a{
            font-weight: 650;
            font-size: 1.009rem;
            color: $blue-color;
        }
    
        // display the button on a smaller screen only
        button{
            display: none;
        }
    }
}

/* -----------------  MEDIA QUERIES (MEDIUM DEVICES) -------------- */
@media screen and (max-width: 1024px) {
    nav{
        .container{
            button {
                display: inline-block;
                background: transparent;
                font-size: 2rem;
                margin-right: 1%;
                cursor: pointer;

                &#close_nav_btn {
                    display: none;
                }
            }

            ul{
                position: fixed;
                right: 1%;
                top: 5rem;
                flex-direction: column;
                align-items: flex-start;
                gap: 0;
                padding-right: 0;
                display: none;
                perspective: 300px;
                background-color: $darkgray-color;

                li{
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    opacity: 0;
                    animation: flipNavItem 300ms ease forwards;
                    transform-origin: top;

                    &:nth-child(2){
                        animation-delay: 200ms;
                    }
                    &:nth-child(3){
                        animation-delay: 350ms;
                    }
                    &:nth-child(4){
                        animation-delay: 500ms;
                    }
                    
                    @keyframes flipNavItem {
                        0%{
                            transform: rotateX(90deg);
                        }
                        100%{
                            transform: rotateX(0deg);
                            opacity: 1;
                        }
                    }

                    a{
                        color: $primary-color;
                        height: 100%;
                        display: block;
                        padding: 1.5rem 2rem;
                        border-radius: 0;
                        background: linear-gradient($ligthgray-color,darken($ligthgray-color, 12%));
                        margin-top: -0.3rem;
                    }
                }
            }
            .nav_logo{
                padding: 0;
                align-items: center;
            }
        }
    }
}