.section_5{
    .container{
        background-color: $white-color;
        border-left: 1px solid $gray-color;
        border-right: 1px solid $gray-color;
        .adjust_5{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p:first-child{
                color: $orange-color;
                padding-top: 4rem;
                font-size: 1.3rem;
                font-weight: 600;
            }
            p:nth-child(2){
                color: $primary-color;
                padding-top: 1rem;
                font-size: 2.3rem;
                font-weight: 800;
                text-align: center;
                max-width: 29rem;
            }

            p:nth-child(3){
                color: $primary-color;
                padding-top: 1rem;
                font-size: 1rem;
                text-align: center;
                max-width: 40rem;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .section_5{
        .container{
            background-color: $white-color;
            border-left: 1px solid $gray-color;
            border-right: 1px solid $gray-color;
            .adjust_5{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                p:first-child{
                    color: $orange-color;
                    padding-top: 4rem;
                    font-size: 1rem;
                    font-weight: 600;
                    max-width: 22rem;
                    text-align: center;
                }
                p:nth-child(2){
                    color: $primary-color;
                    padding-top: 1rem;
                    font-size: 1.3rem;
                    font-weight: 800;
                    text-align: center;
                    min-width: 22rem;
                }
    
                p:nth-child(3){
                    color: $primary-color;
                    padding-top: 2rem;
                    font-size: 1rem;
                    text-align: center;
                    max-width: 22rem;
                }
            }
        }
    }
    
}